{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
    font-family: "poppins", sans-serif;
}

.cabecalho-imagem {
    width: 10%;

}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem {
    width: 30%;
}

.escola {
    background-image: linear-gradient(#f1c21a, #d9d9d9);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    font-family:"poppins",sans-serif;
}

.escola-div-conteudo {
    width: 35%;
}

.escola-titulo {
    padding: 24px 0;
    font-size: 35px;
text-align: center;
}

.escola-imagem{
    width: 200px;
}

.estudante-icone{
    width: 35px;
}
 .estudante-div{
    text-align: center;
    padding: 20px 20px;
 }

 .estudante{
    background-image: linear-gradient(58B2E5,737373);
 }

 .estudante-titulo{
    text-align: center;
    font-size: 32px;
    color: blue;
    padding: 30px 0;
 }

 .estudante-todos{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
 }

 .rodape{
    background-color: black;
    text-align: center;
 }

 .rodape{
    height: ;
 }

 